html,
body {
  height: 100%;
}

body {
  background-image: url('../img/bg.jpg');
  color: #c0cad1;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.icon {
  height: 40px;
}

#main {
  background-color: #333638;
  box-shadow: .4rem .4rem rgba(0, 0, 0, .5);
}

#image {
  width: 60%;
}

#map {
  height: 300px;
  width: 400px;
}